<div class="popupwrap">


 <div class="jointosee" id="jts">
  <div class="jts-wrapper"> 
    <img class="jts-img"" src="//cdn.shopify.com/s/files/1/0535/9357/1505/files/image_6.png?v=1655662629" width="150" height="150">
     <div class="jts-block">  
        
        <h2 class="jts-header white">
          <div class="closebtn" id="closebtn">
            {% render 'memberpopup-close' %}
          </div>
          "Oops" <br>
         To access this content you must sign-up for our Limited Time Free Membership
        </h2>
        
        <div class="jts-content">
    <div class="jts-perks">
      <div class="jts-perk">
        {%render 'accesstolibrary' %}      
        <p class="maroonbold uppercase"> ACCESS TO GAIA'S CONTENT LIBRARY </p>
        </div>
        <div class="jts-perk">
          {%render 'eye' %}      
          <p class="maroonbold uppercase"> BE A PART OF A HEALING COMMUNITY </p>
          </div>
          <p class="grayregular jts-member">
            Sign up today to become a member of Gaia Goddess and get access to amazing content, join fantastic retreats and events.
          </p>
          <a  href="/account/register" class="jts-button gbtn">Sign Up Now</a>
          <br>
          <p class="grayregular jts-member">
            Already a member?
            <a class="maroon" href="/account/login" class="jts-button-login gbtn">Log In</a> 
          </p>           
    </div>
  </div>
</div>
</div>
</div> 
<style>
.closebtn {
display: flex;
justify-content: flex-end;
margin-top: -50px;
}
.jts-wrapper {
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
}
.jts-block {
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
box-shadow: 4px 18px 20px 0px #6c1d453b;
}
.jts-img {
width: 150px;
height: 150px;
margin: 0 auto;
display: block;
margin-bottom: -70px;
}
.jts-perk {
border-bottom: 1px solid #6c1d4514;
}
.jts-content {
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.jts-member {
width: 90%;
padding: 25px 0;
margin: auto;
}
.jts-button {
background-color:#6c1d45;
color: white;
padding: 10px 20px;
border-radius: 40px;
}
h2.jts-header  {
font-size: 26px;
padding: 15% 5% 5% 10%;
color: white;
background-color: #EB6FBD;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
}
.jointosee {
 
height: 100%;
width: 600px;
margin: auto;
text-align: center;
height: 100%;
/* background-color: #6c1d4514; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 50px 0;
}
.popupwrap {
 
}
.jts-perk {
display: flex;
flex-direction: row;
margin: auto;
align-items: center;
justify-content: center;
padding: 10px 0;
width: fit-content;
gap: 20px;
}
.jts-content {
  margin-top: -10px;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .jointosee { 
    max-width: 90vw;
    background: #6c1d450f;
    height: 100%;
    position: fixed;
  }
  h2.jts-header  {
    font-size: 18px;
  }
  .jts-img {
    width: 80px;
    height: 80px;
    margin-bottom: -40px;
  }
  .jts-perk svg {
    width: 25px;
    height: 25px;
  }
}
</style>



<script>
function myFunction() {
  var x = document.getElementById("jts");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<script>
var button = document.getElementById('closebtn');

button.onclick = function() {
  var div = document.getElementById('jts');
  if (div.style.display !== 'none') {
      div.style.display = 'none';
  }
  else {
      div.style.display = 'block';
  }
};
</script>