{%- comment -%} /templates/customers/register.liquid {%- endcomment -%}
<section class="page-customer">
  <div class="wrapper">
    <div class="form-vertical-wrapper">
      <h2 class="account__heading account__heading--small">{{ shop.metafields.cf_app.account_edit_title }}</h2>
      <div class="social-icons"></div>

      <div class="form-vertical">
        <!-- <p class="registration-p">or use your email for registration:</p> -->
        
        {% include 'cf-app.customers.register' %}

      </div>
    </div>
  </div>
</section>