<div class="section-hura-video">
    <video autoplay muted loop playsinline class="hurabg-video">
    <source src="https://cdn.shopify.com/s/files/1/0535/9357/1505/files/GAIA_GODDESS_LANDING_PAGE_VIDEO_FINAL_EXPORT_19.66MB_1_14b5693f-6421-4bd6-83dd-ba387cf02d47.mp4?v=1645608634" type="video/mp4">
  </video>
</div>
{% schema %}
{
"name": "Video New",
"settings": [],
"presets": [
    {
      "name": "Video new",
      "category": "Image" 
    }
  ]
}
{% endschema %}

{% style %}
.section-hura-video{
  width:100%;
}
.hurabg-video{
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
{% endstyle %}