/* @font-face {
  font-family: 'Playfair';
  src: url('PlayfairDisplay-Regular.ttf') format('woff2'),
    url('PlayfairDisplay-Regular.ttf') format('woff');
} */

@font-face {
  font-family: 'Acumin_Pro';
  src: url('Acumin_Pro_Book.woff2') format('woff2'),
    url('Acumin_Pro_Book.woff') format('woff');
}

p,
h3,
h4,
h5,
span,
a,
li,
input,
textarea {
  font-family: 'Acumin_Pro' !important;
}

#text {
  margin: 0 !important;
}
p {
  font-size: 16px;
  color: #575757;
}

h3 {
  font-size: 25px;
}

h1, .h1 {
  /*   */
  font-size: 50px;
  font-weight: 700 !important;
  line-height: 67px !important;
}

@media only screen and (min-width: 768px) {
h2,
h2 span {
   
  font-size: 50px;
  font-weight: 700 !important;
  line-height: 52px;
}
} 
h2,
h2 span {
   
 font-family: 'Playfair' !important;
  font-weight: 700 !important;
  line-height: 52px;
}
.btn {
  /* /* line-height: 21.6px; */
  /* font-size: 17px; */
  border-radius: 30px;
  /* min-width: 200px; */
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

.btn a {
  padding: 0 !important
margin: 0 !important}

.value__each {
  margin: 15px auto 26px;
}

.values-section {
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 35px;
  }
  .desktoponly {
    display: none;
  }
  p {
    /* font-size: 12px; */
  }h1, .h1 {
    font-size: 30px;
    font-weight: 700 !important;
    line-height: 50px !important;
}
  h3 {
    font-size: 20px;
  }
  .btn {
    font-size: 14px;
    padding: 10px 22px;
    min-width: 162px;
  }
}

.center {
  text-align: center;
}
#shopify-section-template--15510524264625__16508830961e8582ae{
  padding-top: 0;
}


@media only screen and (max-width: 768px) {
  .visuallyhiddenm {
    display: none !important;
  }
  .site-header>.wrapper{
    padding-left: 20px;
  }
}


/* Styling for account flow (login, sign in, etc)*/
.page-customer{
  background-image: url(//cdn.shopify.com/s/files/1/0535/9357/1505/files/Group_674.png?v=1650955083);
  background-size: cover;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-customer .wrapper .form-vertical-wrapper{
  text-align: center;
}
.account__heading--small{
  font-size: 50px;
  color: #FFFFFF
}
.registration-p, .login-p{
  color: #FFFFFF
}
.form-vertical{
  width: 80%;
  margin: 0 auto;
}
#CreateCustomer > input, #CustomerLogin > input{
  background: none;
  border-radius: 40px;
  height: 60px;
}
#CreateCustomer > input::placeholder, #CustomerLogin > input::placeholder, .return, #RecoverPassword {
  color: #FFFFFF;
}
#RecoverPassword {
  font-size: 20px;
}
.return{
  font-size: 16px;
  margin-top: 30px;
}
#CreateCustomer .btn, #CustomerLogin .btn {
  margin: 30px auto 0 auto;
}

/****/

.nav__link--active, .nav__link:hover {
  text-decoration-style: initial !important;
  text-decoration-color: #6C1D45 !important;
  text-underline-offset: 10px;
  text-decoration-line: underline !important;
  text-decoration-thickness: 3px !important;
}

@media only screen and (max-width: 380px){
  .logo a svg{
    width: 90%;
  }
  #FeaturedVideo--template--15660035768497__1649146796fe3d4805 {
    height: 700px !important;
  }
}

.mobile-nav{
  background-color: #6C1D45;
  padding-top: 40px;
}
.mobile-nav--bottom{
  display: none;
}
.mobile-nav__item{
  border-bottom: 1px solid #EB6FBD;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.mobile-nav__link{
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Mobile header menu */
.drawer--left{
  width: 100%;
  left: 0;
  border-left: none;
}
.drawer {
  max-width: 100%;
  transition: none;
  padding-bottom: 0;
 
}
.js-drawer-open-left .drawer--left{
  transform: none;
}
.mobile-nav{
  height: 100%;
}
.icon-close{
  fill: #EB6FBD;
  stroke: #EB6FBD;
  stroke-width: 40px;
}
.drawer__title{
  width: 100%;
  margin: 0;
}
.footer-link:hover {
  color: #e272ac;
}
.footer-bottom__links p, .copyright-mobile p, .footer_bottom__copyright p, .footer_bottom__credits p {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .footer-bottom__links p, .copyright-mobile p, .footer_bottom__copyright p, .footer_bottom__credits p  {
    font-size: 12px;
  }
}


.site-header>.wrapper {
padding-top: 25px !important;
}

.uppercase {
  text-transform: uppercase;
}
#shopify-section-template--15567860269233__165466236852a57a63 {
  
  background: #FEF1F5 !important; 
}
 

@media only screen and (min-width: 1000px) {
  .js-drawer-open-right .drawer--right {
    min-width: 500px !important;
    left: 90% !important
  }
  .js-drawer-open-right .drawer--right > body {
    opacity: .4;
  }
}

.description_div p  {
  color: #575757 !important;
}

/* ATC BUTTON MOBILE */

@media only screen and (max-width: 1000px) {
.product__form .btn, .product__form .shopify-payment-button, .product__form .shopify-payment-button__button--unbranded {
  max-width: 50%;

}
product__form, .buttons-grid {
  gap: 5px !important;
  align-items: center !important;
  justify-content: center !important;
}

}

{% if template contains 'events '}
@media only screen and (max-width: 1000px) { 
.breadcrumbs {
  gap: 0px;
  margin-left: 0px !important;
}
.breadcrumbs * {
  font-size: 12px !important;
}
}
{%endfor%}


 {% comment %} 
Video blog styling
 {% endcomment %}
 .player .vp-video-wrapper, 
.player .vp-video-wrapper.transparent {
  border-radius: 30px !important;
}

{% comment %}
Hide footer on contact
  {%endcomment %}

  {% if template contains 'contact' %}
  .site-footer,
  #shopify-section-footer {
    display: none;
  }
    {% endif %}